

body {
	background-color: white;
}

h1, h3 {
	text-align: center;
}

td {
	vertical-align: top;
}

.label {
	font-weight: bold;
}

tr {
	page-break-inside: avoid;
}

.contenido {
	border-style: solid;
	border-color: gray;
	border-width: 2px;
	padding: 1em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 1em;
	page-break-inside: avoid;
}

#imgEmpleado {
	width: 4cm;
	height: 4.8cm;
	border-color: solid gray;
	border-width: 1px;
}


#foto {
	width: 5cm;
	padding-right: 1em;
}

table {
	width: 100%;
	margin-right: 20px;
}

table tr td.labels {
	padding-right: 10px;
	padding-left: 20px;
	font-weight: bold;
}

.infoBasica {
	padding-left: 20px;
}

div.escolaridad, div.empleo {
	border-style: solid;
	border-color: #525252;
	border-width: 2px;
}

.header-escuela, .header-empleo {
	margin-bottom: 0px;
	padding-left: 20px;
	color: white;
	background-color: #525252;
	font-size: 25px;
	font-weight: bold;
}

.agregarEscuela, .agregarEmpleo {
}

.agregarEscuela table, .agregarEmpleo table {
	margin-bottom: 0px;
}

.agregarEscuela table tr td:first-child, .agregarEmpleo table tr td:first-child {
	max-width: 350px;
	width: 350px;
}

.documentation {
	width: 50%;
}

.documentacion tr td.labels {
	padding-right: 10PX;
	text-align: right;
}

.conocimientosg tr td.labels {
	padding-right: 10PX;
	text-align: right;
}

.dg tr td.labels {
	padding-right: 10PX;
	text-align: right;
}